{
    "extends": "@paysera",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["@Assets", "./assets"],
                ["@Components", "./src/js/components"],
                ["@Hooks", "./src/js/hooks"],
                ["@Config", "./src/js/config"]
            ]
        }
    }
}