{
    "extends": "@paysera",
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["@Assets", "./assets"],
                ["@Store", "./src/store"],
                ["@Hooks", "./src/hooks"],
                ["@Config", "./src/config"],
                ["@Services", "./src/services"],
                ["@Components", "./src/components"]

            ]
        }
    },
    "rules": {
        "jsx-a11y/label-has-associated-control": "off"
    }
}
