{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["@Assets", "./assets"],
                ["@Store", "./src/store"],
                ["@Hooks", "./src/hooks"],
                ["@Config", "./src/config"],
                ["@Services", "./src/services"],
                ["@Components", "./src/components"]

            ]
        }
    },
    "rules": {
        "comma-dangle": 0,
        "prefer-destructuring": 0,
        "jsx-a11y/label-has-associated-control": "off",
        "import/prefer-default-export": "off",
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "indent": ["error", 4, { "SwitchCase": 1}],
        "max-len": ["error", 140],
        "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
        "react/jsx-props-no-spreading": "off",
        "class-methods-use-this": "off"
    }
}
